<body class="flex-container">
    <app-sidebar></app-sidebar>
    <h1 class="title">{{ 'PURCHASE.TITLE' | translate }}</h1>
    <div class="container">
        <!-- Sección de la izquierda -->
        <div class="left-section">
            <div class="input-group mb-3 search-container">
                <!--<input type="text" class="form-control" [(ngModel)]="inputSearch"
                    placeholder="{{ 'PRODUCT.SEARCH_PLACEHOLDER' | translate }}" aria-label="Buscar">-->

                <!-- Boton de clean -->
                <!--<button class="clear-btn" type="button" *ngIf="inputSearch" (click)="clearSearch()">
                    <i class="bi bi-x-lg"></i>
                </button>-->

                <!-- Boton de search -->
                <!--<button class="btn btn-outline-secondary search-btn" type="button" (click)="searchProducts()">
                    <i class="bi bi-search"></i>
                </button>-->
            </div>

            <!-- Lista de la izquierda -->
            <app-list-table [totalSize]="totalProducts" [dataType]="'purchase'" [purchaseService]="purchaseService"
                [columns]="purchaseColumns" [data]="purchaseData" (itemSelected)="onItemSelected($event)"
                (pageChange)="onPageChange($event)">
            </app-list-table>
        </div>

        <!-- Sección de la derecha -->
        <div class="right-section">
            <h1 class="form-title"> {{ (isEditing ? 'PURCHASE.UPDATE_BUTTON' : 'PURCHASE.SAVE_BUTTON') | translate }}</h1>

            <div class="form-row">
                <div class="form-group">
                    <label for="name">{{ 'PURCHASE.QUANTITY' | translate }} *</label>
                    <input type="number" id="quantity" class="form-control" placeholder="{{ 'PURCHASE.QUANTITY' | translate }}"
                        [(ngModel)]="quantity" required #quantityField="ngModel">

                    <!-- Mensaje de error para nombre -->
                    <div *ngIf="quantityField.invalid && quantityField.touched" class="error-container">
                        <div class="error-message">
                            <span *ngIf="quantityField.errors?.['required']">{{ 'PURCHASE.REQUIRED_QUANTITY' | translate }}</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="wineryId">{{ 'PURCHASE.WINERY' | translate }} *</label>
                    <select id="wineryId" class="form-select" [(ngModel)]="selectedWineryId" required>
                        <option [value]="null" disabled selected>{{ 'PURCHASE.SELECT_WINERY' | translate }}</option>
                        <option *ngFor="let winery of wineryData" [value]="winery.id">
                            {{ winery.name }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="input-group mb-3 search-product-container">
                <input type="text" class="form-control" [(ngModel)]="inputSearch"
                    placeholder="{{ 'PRODUCT.SEARCH_PLACEHOLDER' | translate }}" aria-label="Buscar">
                <!-- Boton de clean -->
                <button class="clear-btn" type="button" *ngIf="inputSearch" (click)="clearSearch()">
                    <i class="bi bi-x-lg"></i>
                </button>
                <!-- Boton de search -->
                <button class="btn btn-outline-secondary search-btn" type="button" (click)="searchProducts()">
                    <i class="bi bi-search"></i>
                </button>
            </div>
            <div class="form-group">
                <label for="products">{{ 'PURCHASE.PURCHASE_PRODUCTS' | translate }} *</label>
                <mat-selection-list #productsList [(ngModel)]="selectedProducts">
                    <mat-list-option *ngFor="let product of paginatedProducts" [value]="product">
                        <span>{{ getProductDescription(product) }}</span>
                    </mat-list-option>
                </mat-selection-list>
                <mat-paginator [length]="totalProducts" [pageSize]="pageSize" (page)="onPageChangeProduct($event)">
                </mat-paginator>
            </div>


            <div class="button-container">
                <button class="btn-submit" (click)="createOrUpdatePurchase()">
                    {{ (isEditing ? 'PURCHASE.UPDATE_BUTTON' : 'PURCHASE.SAVE_BUTTON') | translate }}
                </button>
            </div>
        </div>
    </div>
</body>